:root{
    --button-size: 10%;
}

body {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
}
html, body {
    height: 100%;
    width: 100vw;
}
#map{
    height: calc(100% - var(--button-size));
    width: 100vw;
}
.levelButtonContainer{
    min-width: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.levelButton{
    width:40px;
    height: 40px;
    background-color: darkslategray;
    margin:2;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;
}
.levelButton>p{
    color:white;
    font-weight: 200;
    font-size: 1.4em;
}
.levelButtonSelecionado{
    background-color: darkblue;
}

.test{
    background-color: blueviolet;
}


.names>p{
    width:100px;
    color:#7A7A7A;
    font-weight: 600;
    font-size: 1em;
    margin-left: -100%;
    margin-top: -100%;
}
#controls{
    display: flex;
    flex-direction: row;
    height: var(--button-size);
    width: 100vw;
}
.controls_button{
    padding-top:10px;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
    background-color: #eee;
    font-family: monospace;
    user-select: none;
    color:black;
    font-size: 1.1em;
    font-weight: bold;
    border:1px solid #ddd;
}
p{
    margin:0;
}
.controls_button:active{
    background-color: #ddd;
}
.controls_button > img{
    display: block;
    height: 50%;
    aspect-ratio: 1;
}