body {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
}
html, body {
    height: 100%;
    width: 100vw;
}
#map{
    height: 90%;
    width: 100vw;
}
.levelButtonContainer{
    min-width: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.levelButton{
    width:40px;
    height: 40px;
    background-color: darkslategray;
    margin:2;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;
}
.levelButton>p{
    color:white;
    font-weight: 200;
    font-size: 1.4em;
}
.levelButtonSelecionado{
    background-color: darkblue;
}

.test{
    background-color: blueviolet;
}

.names{
    color:gray;
    font-weight: bold;
    font-size: min(3em, 1.5em);
    background-color: transparent;
   
}
#controls{
    display: flex;
    flex-direction: row;
    height: 10%;
    width: 100vw;
}
.controls_button{
    padding-top:10px;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
    background-color: #fff;
    user-select: none;
    color:#555;
    font-size: .9em;
}
p{
    margin:0;
}
.controls_button:active{
    background-color: #888;
}
.controls_button > img{
    display: block;
    height: 50%;
    aspect-ratio: 1;
}